<md-toolbar md-scroll-shrink ng-if="true" class="md-shadow-bottom-z-2">
  <div class="md-toolbar-tools layout-max-width">
    <h2>
      <span>IT&T</span>
    </h2>
    <span flex></span>
    <md-button ng-href="#" target="_blank">Home</md-button>
    <md-button ng-href="#" target="_blank">Service</md-button>
    <md-button ng-href="#" target="_blank">Feature</md-button>
    <md-button ng-href="#" target="_blank">Team</md-button>
    <md-button ng-href="#" target="_blank">Screenshots</md-button>
    <md-button ng-href="#" target="_blank">Blog</md-button>
    <md-button ng-href="#" target="_blank">Concacts</md-button>
  </div>
</md-toolbar>
