title = "home"
url = "/home"
layout = "default"
description = "Home page"
is_hidden = 0
==
<div class="layout-max-width" ng-carousel ng-carousel-name="carousel" ng-carousel-timer="5000">
  <slidecontainer class="carousel-slides">
    <slide class="carousel-example">
      <div class="layout-inner-width" layout="row" layout-align="center center" style="min-height: 100vh;">
        <div layout=column flex>
          <h1 class="md-display-3 text-white">A Beautifully Crafted Clean Design</h1>
          <h4 class="md-subhead text-white uppercase">Clean and Beautifull design</h4>
          <div layout="row">
            <md-button ng-href="#" flex class="md-raised">
              <md-icon>
                <ng-md-icon icon="send"></ng-md-icon>
              </md-icon>
              Button
            </md-button>
            <md-button ng-href="#" flex class="md-raised md-primary">Primary</md-button>
          </div>
        </div>
        <div flex class="image-wrapper">
          <img src="{{ 'assets/images/iphone.png'|theme }}"></img>
        </div>
      </div>
    </slide>
    <slide class="carousel-example">
      <div class="layout-inner-width" layout="row" layout-align="center center" style="min-height: 100vh;">
        <div layout=column flex>
          <h1 class="md-display-3 text-white">A Beautifully Crafted Clean Design</h1>
          <h4 class="md-subhead text-white uppercase">Clean and Beautifull design</h4>
          <div layout="row">
            <md-button ng-href="#" flex class="md-raised">
              <md-icon>
                <ng-md-icon icon="send"></ng-md-icon>
              </md-icon>
              Button
            </md-button>
            <md-button ng-href="#" flex class="md-raised md-primary">Primary</md-button>
          </div>
        </div>
        <div flex class="image-wrapper">
          <img src="{{ 'assets/images/iphone.png'|theme }}"></img>
        </div>
      </div>
    </slide>
  </slidecontainer>
  <md-button class="carousel-arrow carousel-arrow-left" ng-click="Carousel.get('carousel').previous()">
    <ng-md-icon icon="arrow_back"></ng-md-icon>
  </md-button>
  <md-button class="carousel-arrow carousel-arrow-right" ng-click="Carousel.get('carousel').next()">
    <ng-md-icon icon="arrow_forward"></ng-md-icon>
  </md-button>
</div>
</br>
<div class="layout-max-width">
  <md-grid-list
      md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
    <md-grid-tile
        ng-repeat="tile in appCtrl.colorTiles"
        ng-style="{
          'background': tile.color
        }"
        md-colspan-gt-sm="{{tile.colspan}}"
        md-rowspan-gt-sm="{{tile.rowspan}}">
    </md-grid-tile>
  </md-grid-list>
</div>
